<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TCS - Votre newsletter préférée est arrivée !</title>
</head>
<body>
<h1>{{ newsletter_title }}</h1>
<p>{{ newsletter_content|raw }}</p>
</body>
</html>
