{% extends 'base.html.twig' %}

{% block title %}About page{% endblock %}

{% block body %}
    <div class="allform">
        <section class="about-us">
            <div class="images">
                <div class="main-img">
                    <img src="{{ asset('build/images/swimming.png') }}">
                </div>
                <div class="second-img">
                    <img src="{{ asset('build/images/TCS_white_logo.png') }}">
                </div>
            </div>

            <div class="text">
                <h4>ABOUT US</h4>
                <h1>We Guarantee Your Business <br> Success- Love to Help you</h1>

                <div class="space"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                    est
                    laborum.
                </p>

                <div class="last-text">
                    <div class="text1">
                        <h3>500+</h3>
                        <h5>Projects Done</h5>
                    </div>

                    <div class="text2">
                        <h3>20K</h3>
                        <h5>Happy Clients</h5>
                    </div>
                </div>
            </div>

        </section>
    </div>
{% endblock %}

{%  block footer %}
{% endblock %}








