{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
    <div class="about-page">
        <section class="about-us">
            <div class="images">
                <div class="second-img">
                    <img src="{{ asset('build/images/TCS_white_logo.png') }}" alt="tcs logo">
                </div>

                <div class="last-text d-flex justify-content-around">
                    <div class="text">
                        <h3>1K+</h3>
                        <h5 class="text-center">Registered users</h5>
                    </div>

                    <div class="text">
                        <h3>500+</h3>
                        <h5 class="text-center">Sports videos</h5>
                    </div>

                    <div class="text">
                        <h3>100K+</h3>
                        <h5 class="text-center">Videos liked</h5>
                    </div>
                </div>

            </div>

            <div class="text p-0">
                <h4>ABOUT US</h4>
                <h1>Premium sports content provider since 2022</h1>

                <div class="space"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                    est
                    laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet at cumque dignissimos
                    eligendi excepturi, facere hic incidunt inventore ipsa itaque, minima quas quia quidem repellendus
                    sapiente suscipit velit vero. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate,
                    dolore voluptate. Accusamus consectetur deleniti deserunt excepturi harum itaque magnam, magni.
                </p>
            </div>

        </section>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}








