{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    {#  modal priavte video #}
    {% include '_includes/_modal.html.twig' with {
        buttons : true
    } %}

    {# home carousel #}
    {% include '_includes/_carousel.html.twig' %}

    <div class="container-fluid p-5 py-3 home-main-container">

        {# first videos row #}
        {% include '_includes/_videos_head.html.twig' with {
            title : 'Publiées récemment',
            buttons : true,
            path :  path('app_all', {sort : 'recent'})
        } %}
        <div class="row video-row">
            {% include '_includes/_videos_grid.html.twig' with {
                videos : latestVideos
            } %}
        </div>

        {# second videos row #}
        {% include '_includes/_videos_head.html.twig' with {
            title : 'Les plus vues',
            buttons : true,
            path :  path('app_all', {sort : 'views'})
        } %}
        <div class="row">
            {% include '_includes/_videos_grid.html.twig' with {
                videos : popularVideos
            } %}
        </div>
    </div>

    {#  middle image  #}
    <div class="home-middle-image-container">
        <img src="{{ asset('build/images/home-middle-image.jpg') }}" class="shadow-lg img-fluid home-middle-image"
             alt="home middle image">
    </div>


    <div class="container-fluid p-5 py-3 home-main-container">

        {# third videos row #}
        {% include '_includes/_videos_head.html.twig' with {
            title : 'Les plus likées',
            buttons : true,
            path :  path('app_all', {sort : 'likes'})
        } %}
        <div class="row video-row">
            {% include '_includes/_videos_grid.html.twig' with {
                videos : moreLikedVideos
            } %}
        </div>

        {# fourth videos row #}
        {% include '_includes/_videos_head.html.twig' with {
            title : 'Réservées aux inscrits',
            buttons : true,
            path :  path('app_private_videos', { sort : 'recent'})
        } %}
        <div class="row">
            {% include '_includes/_videos_grid.html.twig' with {
                videos : registerVideos
            } %}
        </div>
    </div>
{% endblock %}
