{% extends 'base.html.twig' %}

{% block title %}{{ 'home.title'|trans }}{% endblock %}

{% block body %}
    {# Modal private video #}
    {% include '_includes/_modal.html.twig' with {
        buttons : true
    } %}

    {# Home carousel #}
    {% include '_includes/_carousel.html.twig' %}

    <div class="container-fluid p-5 py-3 home-main-container">
        {# first videos row #}
        {% include '_includes/_videos_head.html.twig' with {
            title : 'filter.recent'|trans,
            buttons : true,
            path :  path('app_all', {sort : 'recent'})
        } %}
        <div class="row video-row">
            {% include '_includes/_videos_grid.html.twig' with {
                videos : latestVideos
            } %}
        </div>

        {# second videos row #}
        {% include '_includes/_videos_head.html.twig' with {
            title : 'filter.views'|trans,
            buttons : true,
            path :  path('app_all', {sort : 'views'})
        } %}
        <div class="row">
            {% include '_includes/_videos_grid.html.twig' with {
                videos : popularVideos
            } %}
        </div>
    </div>

    {#  Banner  #}
    <div class="home-middle-image-container">
        <img src="{{ asset('build/images/swimmer_banner.jpg') }}" class="shadow-lg img-fluid home-middle-image"
             alt="Picture of a swimmer">
    </div>


    <div class="container-fluid p-5 py-3 home-main-container">

        {# third videos row #}
        {% include '_includes/_videos_head.html.twig' with {
            title : 'filter.likes'|trans,
            buttons : true,
            path :  path('app_all', {sort : 'likes'})
        } %}
        <div class="row video-row">
            {% include '_includes/_videos_grid.html.twig' with {
                videos : moreLikedVideos
            } %}
        </div>

        {# fourth videos row #}
        {% include '_includes/_videos_head.html.twig' with {
            title : 'video.private'|trans,
            buttons : true,
            path :  path('app_private_videos', { sort : 'recent'})
        } %}
        <div class="row">
            {% include '_includes/_videos_grid.html.twig' with {
                videos : registerVideos
            } %}
        </div>
    </div>
{% endblock %}
