{% extends 'base.html.twig' %}

{% block title %}Mes favoris{% endblock %}

{% block body %}
    {% if app.user %}
        <h2 class="text-center mt-4 category-main-title">Mes favoris</h2>

        {#    message in case the user has no video liked    #}
        {% if likedVideos is empty %}
            {% include '_includes/_info_card.html.twig' with {
                'text' : 'Vous n\'avez aucune vidéo dans vos favoris pour l\'instant.
                Pour en ajouter vous pouvez cliquer sur le bouton \'coeur\' en dessous de chaque vidéo',
                'title' : 'Mes favoris',
                'buttons' : 'false'} %}
        {% else %}

            {% if likedVideos|length > 1 %}
                {#    filter button include only if liked videos length is > 1   #}
                {% include '_includes/_filter_button.html.twig' with {'route' : 'app_likes'} %}
            {% endif %}


            {#    video grid include    #}
            <div class="container-fluid p-5 py-3">
                <div class="row js-content">
                    {% include '_includes/_liked_videos.html.twig' %}
                </div>
            </div>
        {% endif %}
    {% else %}

        {# message in case the user is not connected #}
        {% include '_includes/_info_card.html.twig' with {
            'text' : 'Désolé cette page n\'est disponible que pour les utilisateurs inscrits.
            Vous pouvez vous inscrire gratuitement ou vous connectez si vous avez déjà un compte.',
            'title' : 'Mes favoris',
            'buttons' : 'true'} %}
    {% endif %}

    {#  footer  #}
    {% include '_includes/_main_footer.html.twig' %}
{% endblock %}


