{% extends 'base.html.twig' %}

{% block title %}{{ 'video.private'|trans }}{% endblock %}

{% block body %}
    {% if app.user %}
        <h2 class="section-title">{{ 'video.private'|trans }}</h2>

        {#        filter button include only if liked videos length is > 1 #}
        {% if videos|length > 1 %}
            {% include '_includes/_filter_button.html.twig' %}
        {% endif %}

        {#    include the videos grid #}
        <div class="container-fluid p-5 py-3">
            <div class="row update-videos">
                {% include '_includes/_videos_grid.html.twig' %}
            </div>
        </div>
    {% else %}
        {# message in case the user is not connected #}
        {% include '_includes/_info_card.html.twig' with {
            'text' : 'private.card-text'|trans,
            'title' : 'video.private'|trans,
            'buttons' : 'true'} %}
    {% endif %}
{% endblock %}
