{% extends 'base.html.twig' %}

{% block title %}Résultats pour la recherche : {{ search }}{% endblock %}

{% block body %}
    {% include '_includes/_modal.html.twig' with {
        buttons : true
    } %}
    <h2 class="section-title">Recherche : {{ search }}</h2>

    {% if videos is not empty %}
        <p class="results-info">Nombre de résultats : {{ videos|length }}</p>

        {#  include filter button  #}
        {% include '_includes/_filter_button.html.twig' with {
            recent : path('app_results', { sort : 'recent', search : search}),
            likes : path('app_results', { sort : 'likes', search : search}),
            views : path('app_results', { sort : 'views', search : search})
        } %}
        {# include the videos grid #}
        <div class="container-fluid p-5 py-3">
            <div class="row js-content">
                {% include '_includes/_videos_grid.html.twig' %}
            </div>
        </div>
    {% else %}

        {% include'_includes/_info_card.html.twig' with {
            title : 'Aucun résultat',
            text : 'Désolé aucune vidéo n\'a été trouvée pour cette recherche',
            buttons : false
        } %}
    {% endif %}
{% endblock %}
