{# filter button #}
<div class="filter-form-container d-flex align-items-center justify-content-end">
    <div class="btn-group">
        <button type="button" class="btn btn-info dropdown-toggle filter-button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            <span class="current-filter"></span>
        </button>
        <div class="dropdown-menu dropdown-menu-right filter-button-dropdown">
            <button id="date-filter" class="dropdown-item filter-choice" data-filter="recent">
                {{ 'filter.recent'|trans }}
            </button>
            <button id="likes-filter" class="dropdown-item filter-choice" data-filter="likes">
                {{ 'filter.likes'|trans }}
            </button>
            <button id="views-filter" class="dropdown-item filter-choice" data-filter="views">
                {{ 'filter.views'|trans }}
            </button>
        </div>
    </div>
</div>

{# loader #}
<div class="loading-container disappearance">
    <div>
        <div class="spinner-border text-secondary loading-spinner" role="status">
            <span class="visually-hidden"></span>
        </div>
    </div>
</div>
