<div class="main-footer-container">
    <div class="home-footer-sponsor-logo-container d-flex justify-content-around">
        <img class="home-footer-sponsor-logo" src="" alt="sponsor logo">
        <img class="home-footer-sponsor-logo" src="" alt="sponsor logo">
        <img class="home-footer-sponsor-logo" src="" alt="sponsor logo">
    </div>
    <div class="row d-flex justify-content-around align-items-center home-footer-middle-line">
        <div class="home-footer-website-logo-container d-flex justify-content-around">
            <img class="home-footer-website-logo img-fluid" src="{{ asset('build/images/TCS favicon.png') }}" alt="website logo">
        </div>
        <div class="home-footer-links d-flex mb-sm-4 mt-sm-4 mb-lg-0 mt-lg-0">
            <a class="text-dark" href="">ASSE.FR</a>
            <p> | </p>
            <a class="text-dark" href="">COOKIES</a>
            <p> | </p>
            <a class="text-dark" href="">MENTIONS LEGALES</a>
            <p> | </p>
            <a class="text-dark" href="">POLITIQUE DE CONFIDENTIALITE</a>
        </div>
        <div class="home-footer-social-links d-flex">
            <a href="#" class="fa fa-facebook footer-social-logo"></a>
            <a href="#" class="fa fa-twitter footer-social-logo"></a>
            <a href="#" class="fa fa-instagram footer-social-logo"></a>
            <a href="https://www.linkedin.com/company/origins-digital-emg/" class="fa fa-linkedin footer-social-logo"></a>
        </div>
    </div>
    <div class="home-footer-description">
        <p class="text-center">The Court Side - {{ "now"|date("Y") }} | created by <a href="https://github.com/WildCodeSchool/2022-09-PHP-Bordeaux-OriginsDigital">SG1-team</a>, @WildCodeSchool, Bordeaux
        <p class="text-center">Powered by On Rewind, an EMG company<br>App version:1.2.0 / UI version:3.1.1</p>
    </div>
</div>
