<div id="password-requirement" class="px-3 py-2 mb-3 d-none">
    <p class="text-white">Votre mot de passe doit contenir :</p>
    <ul class="pr-4">
        <li id="twelve-characters" class="d-flex justify-content-between">
            - Au moins 12 caractères
            <i class="fa"></i>
        </li>
        <li id="one-lowercase" class="d-flex justify-content-between">
            - Au moins une minuscule
            <i class="fa"></i>
        </li>
        <li id="one-uppercase" class="d-flex justify-content-between">
            - Au moins une majuscule
            <i class="fa"></i>
        </li>
        <li id="one-number" class="d-flex justify-content-between">
            - Au moins un chiffre
            <i class="fa"></i>
        </li>
        <li id="one-special-character" class="d-flex justify-content-between">
            - Au moins un caractère spécial
            <i class="fa"></i>
        </li>
    </ul>
</div>
