<div class="input-group col col-lg-4 d-flex justify-content-center searchForm flex-nowrap">
    <div>
        {{ form_start(searchForm, {'action': path('app_search')}) }}
        {{ form_widget(searchForm, {'attr': {'class': 'form-control custom-searchBar', 'placeholder': 'Recherche...'}}) }}
    </div>
    <div class="input-group-append submit-searchBar">
        <button class="btn btn-searchBar"><i class="bi bi-search logo-search"></i></button>
    </div>
    {{ form_end(searchForm) }}
</div>
