<div class="input-group col col-lg-3">
    <div>
        {{ form_start(form, {'action': path('app_search')}) }}
        {{ form_widget(form, {'attr': {'class': 'form-control pr-5', 'placeholder': 'Recherche...'}}) }}
    </div>
    <div class="input-group-append submit-searchBar">
        <button class="btn btn-primary"><i class="bi bi-search"></i></button>
    </div>
    {{ form_end(form) }}
</div>
