<div class="home-section-head d-flex justify-content-between">
    <h3 class="section-name">{{ title }}</h3>
    {% if buttons == true %}
        <a href="{{ path }}">
            <button type="button" class="btn btn-outline-light see-more-button">VOIR PLUS</button>
        </a>
    {% endif %}
</div>
<div class="home-section-line mb-2"></div>
