nav .form-control {
    border-radius: 7px;
    border: 2px solid #E3E6ED;
}

nav input.form-control:focus {
    box-shadow: none;
    border: 2px solid var(--element-color);
    background-color: #F7F8FD;
    letter-spacing: 1px;
}

nav .btn-primary {
    border-radius: 7px;
}

nav .btn-primary:focus {
    box-shadow: none;
}

nav .bi-person-circle {
    font-size: 1.5em;
    color: var(--element-color);
    padding-left: 0.5em;
}

nav .bi-person-circle:hover {
    color: #1d736a;
}
