/* imports google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

/* variables CSS */
:root {
    --mainBg-color: #010D18;
    --subBg-color: #021324;
    --mainFont-color: #EEFFFF;
    --subFont-color: #7e7d7d;
    --element-color: #2DBFB2;
    --title-font: 'Roboto', sans-serif;
    --text-font: 'Open Sans', sans-serif;
}

/* ressource sur les breakpoints bootstrap: https://getbootstrap.com/docs/5.0/layout/breakpoints/ */

/* ci-dessous, imports des fichiers css des différentes vues et composants */
@import "_navbar.scss";
@import "homePage";
@import "watchVideo";
@import "categoryPages";
@import "userViews";
@import "likedVideosPage";
