.home-main-container {
    background-color: var(--mainBg-color);
}

.card-video {
    .home-video-title {
        font-size: 16px;
        font-weight: bold;
        color: var(--mainFont-color);
        font-family: var(--text-font);
    }

    .home-video-details {
        color: var(--subFont-color);
        font-size: 13px;
        text-decoration: none;
        font-family: var(--text-font);
    }
}

.home-carousel-image {
    max-height: 37rem;
}

.home-section-line {
    height: 1px;
    background: var(--mainFont-color);
    border-radius: 10px;
}

.home-video-link:hover {
    text-decoration: none;
}

.home-footer-links {
    gap: 2rem;
}

.home-footer-social-links {
    gap: 2rem;
    font-size: 40px;
}

.footer-social-logo {
    color: var(--mainFont-color);
    text-decoration: none;
}

.footer-social-logo:hover {
    color: var(--subFont-color);
    text-decoration: none;
}

.home-footer-middle-line {
    padding: 75px;
    width: 100%;
}

.home-footer-sponsor-logo-container {
    background-color: var(--subBg-color);
}

.home-middle-image {
    width: 100%;
    max-height: 300px;
}

.home-footer-website-logo {
    width: 100px;
    height: 100px;
    background-color: transparent;
}

.home-footer-sponsor-logo-nike {
    height: 50px;
}

.home-footer-sponsor-logo-netflix {
    height: 200px;
}

.home-footer-sponsor-logo-visa {
    height: 60px;
}

.main-footer-container {
    background-color: var(--mainBg-color);
}

.footer-link {
    color: var(--mainFont-color);
}

.footer-link:hover {
    text-decoration: none;
    color: var(--subFont-color);
}

.team-link:hover {
    text-decoration: none;
    color: var(--subFont-color);
}

.text-description {
    color: var(--mainFont-color);
    margin-bottom: 0;
}

.section-name {
    color: var(--mainFont-color);
    font-family: var(--text-font);
    font-size: 2rem;
}

.video-row {
    margin-bottom: 7rem;
}

.see-more-button {
    color: var(--element-color);
    border-color: var(--element-color);
}

.see-more-button:hover {
    background-color: var(--element-color);
    border-color: var(--element-color);
    color: var(--mainBg-color);
}

.video-private-message {
    color: var(--element-color);
}

.message-modal-body {
    font-family: var(--text-font);
}

.message-modal-title {
    font-family: var(--title-font);
}

.title-font {
    font-family: var(--title-font);
}

.text-font {
    font-family: var(--text-font);
}

.text-white {
    color: var(--mainFont-color);
}

.text-gray {
    color: var(--subFont-color);
}

.results-info {
    font-family: var(--text-font);
    color: var(--subFont-color);
    text-align: center;
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.11);
}
