.card-video {
    .home-video-title {
        font-size: 16px;
        font-weight: bold;
        color: var(--mainFont-color);
    }

    .home-video-details {
        color: var(--subFont-color);
        font-size: 13px;
        text-decoration: none;
    }
}

.home-carousel-image {
    max-height: 37rem;
}

.home-main-container {
    background-color: var(--mainBg-color);
}

.single-video {
    border-radius: 10px;
}

.single-video:hover {
    background-color: var(--subBg-color);
}

.home-section-line {
    height: 1px;
    border-radius: 10px;
    background: var(--mainFont-color);
}

.home-video-link:hover {
    text-decoration: none;
}

.home-footer-links {
    gap: 2rem;
}

.home-footer-social-links {
    gap: 2rem;
    font-size: 40px;
}

.footer-social-logo {
    color: var(--mainBg-color);
    text-decoration: none;
}

.footer-social-logo:hover {
    color: var(--subFont-color);
    text-decoration: none;
}

.home-footer-middle-line {
    padding: 75px;
}

.home-footer-sponsor-logo-container {
    background-color: var(--subBg-color);
    padding: 75px;
}

.home-middle-image {
    width: 100%;
    max-height: 300px;
}

.home-footer-website-logo {
    width: 100px;
    height: 100px;
}

.section-name {
    color: var(--mainFont-color);
}

.main-footer-container {
    background-color: var(--mainBg-color);
}
