.info-card {
    max-width: 60%;
    margin: 4rem auto;
    background-color: var(--subBg-color);
    border-color: var(--mainFont-color);
}

.info-card-body {
    line-height: 2rem;
    border: solid 1px black;
    border-radius: 7px;
}

.info-card-buttons-container {
    gap: 4rem;
}

.filter-button {
    background-color: transparent;
    color: var(--element-color);
    border: 1px solid var(--element-color);
}

.filter-button:hover {
    background-color: var(--element-color);
    border: 1px solid var(--element-color);
}

.filter-form-container {
    margin-right: 4%;
}

.loading-container {
    height: 100%;
    width: 100%;
    margin: auto;
    justify-content: center;
    position: absolute;
    z-index: 99;
    background-color: var(--mainBg-color);
}

.loading-spinner {
    margin-top: 7rem;
    width: 5rem;
    height: 5rem;
}

.apparition {
    display: flex;
}

.disappearance {
    display: none;
}

.sorting-info-container {
    margin-right: 4%;
}
