.title-legal-notices {
    color: var(--element-color);
}

.rgpd-link {
    color: var(--element-color);
}

.rgpd-link:hover {
    color: #166665;
    text-decoration: none;
}

.rgpd-line {
    border-top: 1px solid white;
}
