.show-user {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.table-dark {
    border-radius: 20px;
    margin: 0;
}

.show-user-table .btn-outline-secondary {
    border: 1px solid var(--mainFont-color);
    color: var(--mainFont-color)
}
