.embed-responsive {
    width: 60%;
    height: 60%;
}

.watch-video-player-container {
    margin: auto;
}

.watch-video-head {
    margin-left: 12.5%;
    margin-right: 12.5%;
}

.watch-video-description, .watch-private-video-message-container  {
    margin-left: 20%;
    margin-right: 20%;
}

.watch-private-video-message {
    color: gray;
}
