.embed-responsive {
    width: 75%;
    height: 75%;
}

.watch-video-player-container {
    padding-top: 6rem;
    margin: auto auto 1rem;
}

.watch-video-release {
    color: var(--subFont-color);
    font-family: var(--text-font);
    font-size: .9rem;
    font-style: italic;
    word-break: keep-all;
    width: 40%;
    text-align: right;
}

.watch-video-views {
    color: var(--subFont-color);
    font-family: var(--text-font);
    font-size: .9rem;
    font-style: italic;
    word-break: keep-all;
}

.watch-views-container {
    margin-left: 12.5%;
}

.watch-video-head {
    margin-left: 12.5%;
    margin-right: 12.5%;
}

.watch-video-description, .watch-private-video-message-container {
    margin-left: 12.5%;
    margin-right: 12.5%;
}

.watch-private-video-image {
    max-width: 60%;
    max-height: 60%;
    background-color: gray;
}

.watch-video-tags-container {
    margin-left: 12.5%;
}

.watch-video-tag-name {
    margin-left: 20%;
    margin-right: 20%;
}

.watch-sponsor-image {
    width: 100%;
    max-height: 300px;
}

.watch-like-container {
    margin-left: 20%;
}

.watch-video-container {
    background-color: var(--subBg-color);
}

.share-buttons-container {
    margin-right: 12.5%;
}

.share-mail-button {
    width: 5rem;
    line-height: 1.2rem;
    text-align: center;
    background-color: var(--mainFont-color);
    color: var(--mainBg-color);
    border-color: var(--mainBg-color);
    font-weight: 600;
}

.share-mail-button:hover {
    background-color: var(--mainBg-color);
}

.mail-icon {
    font-size: 15px;
}

.video-description-head {
    font-weight: bold;
    color: var(--mainFont-color);
    margin-bottom: 0;
}

.video-description {
    color: var(--subFont-color);
}

.watch-video-title {
    color: var(--mainFont-color);
    font-family: var(--title-font);
    font-size: 1.5rem;
}

.tag-button {
    background-color: var(--subBg-color);
    border-color: var(--element-color);
    color: var(--element-color);
    border-radius: 1rem;
}

.tag-button:hover {
    background-color: var(--element-color);
    border-color: var(--subBg-color);
    color: var(--mainFont-color);
}

.like-link {
    text-decoration: none;
    color: transparent;
}

.like-link:hover {
    text-decoration: none;
    color: transparent;
}

.like-icon, .like-icon-inactive {
    fill: var(--subFont-color);
    stroke-width:10;
    transition:all 0.5s;
    font-size: 2rem;
}

.like-icon.active{
    animation:like 0.5s 1;
    fill: var(--element-color);
}

@-webkit-keyframes like {
    0%   { transform: scale(1); }
    90%   { transform: scale(1.5); }
    100% { transform: scale(1.1); }
}
