.embed-responsive {
    width: 60%;
    height: 60%;
}

.watch-video-player-container {
    margin: auto;
}

.watch-video-head {
    margin-left: 20%;
    margin-right: 20%;
}

.watch-video-description, .watch-private-video-message-container {
    margin-left: 20%;
    margin-right: 20%;
}

.watch-private-video-image {
    max-width: 60%;
    max-height: 60%;
    background-color: gray;
}

.watch-video-tags-container {
    margin-left: 20%;
}

.watch-video-tag-name {
    margin-left: 20%;
    margin-right: 20%;
}

.watch-sponsor-image {
    width: 100%;
    max-height: 300px;
}

.watch-like-icon {
    font-size: 30px;
    color: gray;
    text-decoration: none;
}

.watch-like-container {
    margin-left: 20%;
    margin-right: 20%;
}

.watch-like-icon:hover {
    //color: var(--element-color);
    color: red;
}

.bi-heart-fill {
    //color: var(--element-color);
    color: red;
}

.add-like-text {
    margin-top: 12px;
}
